{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
    <link type="text/css" rel="stylesheet" href="{%static 'css/estilos.css'%}">
</head>
<body>
  <div class="container">
    <h1 align="center" style="color: mediumseagreen;">Nuevo Producto</h1>
    <form method="post">
      {%csrf_token%}
      <label for="nombre">Nombre</label>
      <input type="text" id="nombre" name="nombre" placeholder="Nombre..">
  
      <label for="precio">Precio</label>
      <input type="text" id="precio" name="precio" placeholder="Precio..">
  
      <label for="stockact">Stock Actual</label>
      <input type="text" id="stockact" name="stockact" placeholder="Stock Actual..">

      <label for="proveedor">Proveedor</label>
      <select  name="proveedor" id="proveedor">
        {%for proveedor in proveedores%}
          <option value="{{proveedor.id}}">{{proveedor.razonsoc}}</option>
        {%endfor%}  
      <input type="submit" value="Guardar" style="background-color:mediumseagreen">
    </form>
  </div>
  <a class="btn btn-link btn-sm" href="http://127.0.0.1:8000/lista_prod" role="button"><button>Volver a listado productos</button></a>
</body>
</html>