{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link type="text/css" rel="stylesheet" href="{%static 'css/estilos.css'%}">
</head>
<body> 
    <a style="color:blue" href="http://127.0.0.1:8000/formpv">Agregar nuevo proveedor</a>   
    <h1 style="color:mediumseagreen" align="center">Listado de Proveedores</h1>
    {%if proveedor %}
        <table id="tabela" class="table table-dark table-striped-columns">
                <thead>
                  <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Razon Social</th>
                    <th scope="col">CUIT</th>
                    <th scope="col">Celular</th>
                  </tr>
                </thead>              
              
            {%for proveedor in proveedor%}
                    <tbody>
                        <tr>
                            <th scope="row">{{proveedor.id}}</th>
                            <td>{{proveedor.razonsoc}}</td>
                            <td>{{proveedor.cuit}}</td>
                            <td>{{proveedor.celular}}</td>
                        </tr>                 
                    </tbody>            
            {%endfor%}
        </table>
        
    {%else%}
        <h2>no hay informacion de proveedores</h2>
    {%endif%}
    <p> </p>
      <a class="btn btn-link btn-sm" href="http://127.0.0.1:8000" role="button"><button>Volver a home</button></a>
    
</body>
</html>