{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link type="text/css" rel="stylesheet" href="{%static 'css/estilos.css'%}">
</head>
<body>
    <a href="http://127.0.0.1:8000/compra/formprod">Agregar nuevo producto</a>  
    <h1>productos</h1>
    {%if productos %}
    <table id="tabela" class="table table-dark table-striped-columns">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Precio</th>
            <th scope="col">Stock Actual</th>
            <th scope="col">Proveedor</th>
          </tr>
        </thead>              
        {%for producto in productos%}
            <tbody>
                <tr>
                    <th scope="row">{{producto.id}}</th>
                    <td>{{producto.nombre}}</td>
                    <td>{{producto.precio}}</td>
                    <td>{{producto.stock_actual}}</td>
                    <td>{{producto.proveedor}}</td>
                </tr>                 
            </tbody>
        {%endfor%}    
        </table>
    {%else%}
        <h2>no hay informacion de productos</h2>
    {%endif%}
    <p> </p>
    <a class="btn btn-link btn-sm" href="http://127.0.0.1:8000" role="button"><button>Volver a home</button></a>
</body>
</html>